{% extends "base.html" %}

{% block content %}

<div class="card">

    <h1>{{ challenge.title }}</h1>

    <span class="difficulty-badge">
        {{ challenge.difficulty }}
    </span>

    <p>{{ challenge.description }}</p>

    <div class="reward-row">
        <span>⭐ {{ challenge.xp_reward }} XP</span>
        <span>🪙 {{ challenge.coin_reward }} Coins</span>
    </div>

    <div class="code-shell">

    <textarea
        class="code-editor"
        placeholder="Write your Python code here..."
        spellcheck="false"
        data-grammarly="false"
        data-enable-grammarly="false"
    ></textarea>

    <button class="run-btn" type="button">
        ▶ Run Code
    </button>

</div>

</div>

{% endblock %}